[package]
name = "css-definition-syntax"
version = "0.2.2"
edition.workspace = true
authors.workspace = true
license.workspace = true
rust-version.workspace = true

[dependencies]
thiserror.workspace = true
