[package]
name = "rari-l10n"
version = "0.0.5"
edition.workspace = true
authors.workspace = true
license.workspace = true
rust-version.workspace = true

[dependencies]
rari-types.workspace = true
thiserror.workspace = true
serde_json.workspace = true
