/target
.config.toml
.DS_Store
tests/data/content/files/*
!tests/data/content/files/.keep
tests/data/translated_content/files/*
!tests/data/translated_content/files/.keep
.fastembed_cache

# Must be top level so these are included in npm publish.
rari-npm/schema.json
rari-npm/lib/rari-types.d.ts
