[package]
name = "css-syntax-types"
version = "0.1.28"
edition.workspace = true
authors.workspace = true
license.workspace = true
rust-version.workspace = true

[dependencies]
serde_json.workspace = true
serde.workspace = true
url.workspace = true
regress.workspace = true
