name: Build Reusable Workflow

on:
  workflow_call:
    inputs:
      partial:
        description: "Run a partial build (for PRs) instead of a full build"
        type: boolean
        default: false
      rari-binary-artifact-id:
        description: "ID of rari binary artifact (optional)"
        type: string
        default: ""
    outputs:
      artifact-name:
        description: "Name of the uploaded build artifact"
        value: ${{ jobs.build.outputs.artifact-name }}

permissions:
  contents: read

env:
  BUILD_OUT_ROOT: ${{ github.workspace }}/mdn/content/node_modules/@mdn/fred/out

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"

    outputs:
      artifact-name: ${{ steps.set-artifact-name.outputs.name }}

    steps:
      - name: Setup privileged build
        id: privileged
        if: ${{ github.secret_source == 'Actions' }}
        env:
          BLOG_ROOT: ${{ github.workspace }}/mdn/blog/content/posts
          BLOG_PAGINATION: true
        run: |
          echo "BLOG_ROOT=$BLOG_ROOT" >> "$GITHUB_OUTPUT"
          echo "BLOG_PAGINATION=$BLOG_PAGINATION" >> "$GITHUB_OUTPUT"

      - name: Checkout (rari)
        if: inputs.rari-binary-artifact-id == ''
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: mdn/rari
          persist-credentials: false

      - name: Checkout (content)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mdn/content
          path: mdn/content
          persist-credentials: false

      - name: Checkout (translated-content)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mdn/translated-content
          path: mdn/translated-content
          persist-credentials: false

      - name: Checkout (curriculum)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mdn/curriculum
          path: mdn/curriculum
          persist-credentials: false

      - name: Checkout (blog)
        if: ${{ steps.privileged.conclusion == 'success' }}
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mdn/blog
          path: mdn/blog
          lfs: true
          token: ${{ secrets.MDN_BLOG_PAT }}
          persist-credentials: false

      - name: Checkout (generic-content)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mdn/generic-content
          path: mdn/generic-content
          persist-credentials: false

      - name: Checkout (mdn-contributor-spotlight)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mdn/mdn-contributor-spotlight
          path: mdn/mdn-contributor-spotlight
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: mdn/content/.nvmrc
          cache: npm
          cache-dependency-path: mdn/content/package-lock.json

      - name: Install (content)
        working-directory: mdn/content
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm ci

      - name: Download rari binary
        if: inputs.rari-binary-artifact-id != ''
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          artifact-ids: ${{ inputs.rari-binary-artifact-id }}
          path: mdn/rari/target/release

      - name: Cache Cargo registry
        if: inputs.rari-binary-artifact-id == ''
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Setup Rust
        if: inputs.rari-binary-artifact-id == ''
        uses: dtolnay/rust-toolchain@9a1d20035bdbcbc899baabe1e402e85bc33639bc # 1.90

      - name: Setup sccache
        if: inputs.rari-binary-artifact-id == ''
        uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad # v0.0.9

      - name: Build Rari
        if: inputs.rari-binary-artifact-id == ''
        working-directory: mdn/rari
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: cargo build --release

      - name: Prepare rari binary
        working-directory: mdn/rari
        run: |
          chmod +x target/release/rari
          cp target/release/rari ../content/node_modules/@mdn/rari/bin/
          rm -rf target

      - name: Build content (rari)
        working-directory: mdn/content
        env:
          CONTENT_ROOT: ${{ github.workspace }}/mdn/content/files
          CONTENT_TRANSLATED_ROOT: ${{ github.workspace }}/mdn/translated-content/files
          CONTRIBUTOR_SPOTLIGHT_ROOT: ${{ github.workspace }}/mdn/mdn-contributor-spotlight/contributors
          BLOG_ROOT: ${{ steps.privileged.outputs.BLOG_ROOT }}
          CURRICULUM_ROOT: ${{ github.workspace }}/mdn/curriculum
          GENERIC_CONTENT_ROOT: ${{ github.workspace }}/mdn/generic-content/files

          LIVE_SAMPLES_BASE_URL: https://live.mdnyalp.dev
          INTERACTIVE_EXAMPLES_BASE_URL: https://interactive-examples.mdn.allizom.net

          ADDITIONAL_LOCALES_FOR_GENERICS_AND_SPAS: de

          BLOG_PAGINATION: ${{ steps.privileged.outputs.BLOG_PAGINATION }}

          # Increase GitHub API limit.
          GITHUB_TOKEN: ${{ github.token }}

          PARTIAL_BUILD: ${{ inputs.partial }}
          FILE_LIST: ${{ github.workspace }}/files.txt
        run: |
          set -eo pipefail

          npx rari git-history

          if [ -n "$BLOG_ROOT" ]; then
            BUILD_OPTIONS="--all"
          else
            BUILD_OPTIONS=""
          fi

          if [ "$PARTIAL_BUILD" = "true" ]; then
            # Partial build.
            find $CONTENT_ROOT -maxdepth 4 ! -path "*/en-us/glossary/*" -type f -name 'index.md' >> "$FILE_LIST"
            find $CONTENT_ROOT -path '*/en-us/glossary/index.md' \
              -o -path '*/en-us/learn_web_development/core/css_layout/flexbox/index.md' \
              -o -path '*/en-us/learn_web_development/core/css_layout/index.md' \
              -o -path '*/en-us/learn_web_development/core/scripting/index.md' \
              -o -path '*/en-us/learn_web_development/core/structuring_content/basic_html_syntax/index.md' \
              -o -path '*/en-us/learn_web_development/core/structuring_content/html_video_and_audio/index.md' \
              -o -path '*/en-us/learn_web_development/core/structuring_content/index.md' \
              -o -path '*/en-us/learn_web_development/core/styling_basics/box_model/index.md' \
              -o -path '*/en-us/learn_web_development/core/styling_basics/getting_started/index.md' \
              -o -path '*/en-us/learn_web_development/core/styling_basics/index.md' \
              -o -path '*/en-us/learn_web_development/core/styling_basics/what_is_css/index.md' \
              -o -path '*/en-us/learn_web_development/extensions/advanced_javascript_objects/index.md' \
              -o -path '*/en-us/learn_web_development/howto/solve_html_problems/use_data_attributes/index.md' \
              -o -path '*/en-us/learn_web_development/howto/solve_html_problems/use_javascript_within_a_webpage/index.md' \
              -o -path '*/en-us/mozilla/add-ons/webextensions/index.md' \
              -o -path '*/en-us/web/api/canvas_api/index.md' \
              -o -path '*/en-us/web/api/canvas_api/manipulating_video_using_canvas/index.md' \
              -o -path '*/en-us/web/api/contactsmanager/index.md' \
              -o -path '*/en-us/web/api/fetch_api/index.md' \
              -o -path '*/en-us/web/api/fetch_api/using_fetch/index.md' \
              -o -path '*/en-us/web/api/file_system_api/index.md' \
              -o -path '*/en-us/web/api/geolocation_api/index.md' \
              -o -path '*/en-us/web/api/history_api/working_with_the_history_api/index.md' \
              -o -path '*/en-us/web/api/html_dom_api/index.md' \
              -o -path '*/en-us/web/api/performance/index.md' \
              -o -path '*/en-us/web/api/push_api/index.md' \
              -o -path '*/en-us/web/api/service_worker_api/index.md' \
              -o -path '*/en-us/web/api/view_transition_api/index.md' \
              -o -path '*/en-us/web/api/web_animations_api/using_the_web_animations_api/index.md' \
              -o -path '*/en-us/web/api/web_audio_api/using_web_audio_api/index.md' \
              -o -path '*/en-us/web/api/web_speech_api/using_the_web_speech_api/index.md' \
              -o -path '*/en-us/web/api/web_workers_api/using_web_workers/index.md' \
              -o -path '*/en-us/web/api/window/index.md' \
              -o -path '*/en-us/web/api/window/innerwidth/index.md' \
              -o -path '*/en-us/web/css/guides/animations/using/index.md' \
              -o -path '*/en-us/web/css/guides/backgrounds_and_borders/border-image_generator/index.md' \
              -o -path '*/en-us/web/css/guides/backgrounds_and_borders/border-radius_generator/index.md' \
              -o -path '*/en-us/web/css/guides/backgrounds_and_borders/box-shadow_generator/index.md' \
              -o -path '*/en-us/web/css/guides/box_model/introduction/index.md' \
              -o -path '*/en-us/web/css/guides/colors/applying_color/index.md' \
              -o -path '*/en-us/web/css/guides/colors/index.md' \
              -o -path '*/en-us/web/css/guides/flexible_box_layout/basic_concepts/index.md' \
              -o -path '*/en-us/web/css/guides/index.md' \
              -o -path '*/en-us/web/css/guides/selectors/index.md' \
              -o -path '*/en-us/web/css/guides/syntax/at-rule/index.md' \
              -o -path '*/en-us/web/css/how_to/how_to/layout_cookbook/card/index.md' \
              -o -path '*/en-us/web/css/how_to/layout_cookbook/center_an_element/index.md' \
              -o -path '*/en-us/web/css/how_to/layout_cookbook/column_layouts/index.md' \
              -o -path '*/en-us/web/css/modules/index.md' \
              -o -path '*/en-us/web/css/reference/at-rules/@container/index.md' \
              -o -path '*/en-us/web/css/reference/at-rules/index.md' \
              -o -path '*/en-us/web/css/reference/index.md' \
              -o -path '*/en-us/web/css/reference/properties/color/index.md' \
              -o -path '*/en-us/web/css/reference/properties/index.md' \
              -o -path '*/en-us/web/css/reference/selectors/index.md' \
              -o -path '*/en-us/web/css/reference/values/index.md' \
              -o -path '*/en-us/web/html/guides/cheatsheet/index.md' \
              -o -path '*/en-us/web/html/guides/date_and_time_formats/index.md' \
              -o -path '*/en-us/web/html/guides/index.md' \
              -o -path '*/en-us/web/html/guides/responsive_images/index.md' \
              -o -path '*/en-us/web/html/reference/attributes/index.md' \
              -o -path '*/en-us/web/html/reference/elements/index.md' \
              -o -path '*/en-us/web/html/reference/global_attributes/index.md' \
              -o -path '*/en-us/web/html/reference/index.md' \
              -o -path '*/en-us/web/html/responsive_images/index.md' \
              -o -path '*/en-us/web/javascript/guide/control_flow_and_error_handling/index.md' \
              -o -path '*/en-us/web/javascript/guide/index.md' \
              -o -path '*/en-us/web/javascript/guide/inheritance_and_the_prototype_chain/index.md' \
              -o -path '*/en-us/web/javascript/guide/loops_and_iteration/index.md' \
              -o -path '*/en-us/web/javascript/guide/using_classes/index.md' \
              -o -path '*/en-us/web/javascript/guide/working_with_objects/index.md' \
              -o -path '*/en-us/web/javascript/reference/functions/index.md' \
              -o -path '*/en-us/web/javascript/reference/global_objects/index.md' \
              -o -path '*/en-us/web/javascript/reference/global_objects/temporal/index.md' \
              -o -path '*/en-us/web/javascript/reference/index.md' \
              -o -path '*/en-us/web/javascript/reference/operators/index.md' \
              -o -path '*/en-us/web/javascript/reference/statements/index.md' \
              -o -path '*/en-us/web/performance/index.md' \
            >> "$FILE_LIST"

            FILE_LIST="--file-list $FILE_LIST"
          else
            # Full build.
            FILE_LIST=""

            # Build French, but not other locales.
            ignore_locales='es ja ko pt-br ru zh-cn zh-tw'
            for locale in $ignore_locales
            do
              rm -rf $CONTENT_TRANSLATED_ROOT/$locale
            done
          fi

          npx rari build $BUILD_OPTIONS $FILE_LIST --issues "$BUILD_OUT_ROOT/issues.json" --templ-stats

      - name: Render content (fred)
        working-directory: mdn/content
        run: npx fred-ssr

      - name: Set artifact name
        id: set-artifact-name
        run: echo "name=build-output" >> $GITHUB_OUTPUT

      - name: Upload build output
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ steps.set-artifact-name.outputs.name }}
          path: ${{ env.BUILD_OUT_ROOT }}
          retention-days: 1
