name: Run Reusable Workflow

on:
  workflow_call:
    inputs:
      rari-binary-artifact-id:
        description: "ID of rari binary artifact"
        required: true
        type: string
      command:
        description: 'The rari command to run (e.g., content fix-flaws, content fmt-sidebars)'
        required: true
        type: string
      translated-content:
        description: 'Whether to checkout mdn/translated-content'
        required: false
        type: boolean
        default: false
      diff:
        description: Whether to diff changes
        required: false
        type: boolean
        default: false

permissions: {} # No GITHUB_TOKEN permissions, as we only use it to increase API limit.

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout mdn/content
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mdn/content
          path: content
          persist-credentials: false

      - name: Checkout mdn/translated-content
        if: inputs.translated-content
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: mdn/translated-content
          path: translated-content
          persist-credentials: false

      - name: Download rari binary
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          artifact-ids: ${{ inputs.rari-binary-artifact-id }}
          path: mdn/rari/target/release

      - name: Prepare rari binary
        run: chmod +x mdn/rari/target/release/rari

      - name: Run ${{ inputs.command }}
        working-directory: mdn/rari
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [ "${{ inputs.translated-content }}" = "false" ]; then
            unset CONTENT_TRANSLATED_ROOT
          fi
          target/release/rari ${{ inputs.command }}

      - name: Diff content
        if: inputs.diff
        working-directory: content
        run: git diff --color=always --word-diff --word-diff-regex='[[:alnum:]_]+'

      - name: Diff translated-content
        if: inputs.diff && inputs.translated-content
        working-directory: translated-content
        run: git diff --color=always --word-diff --word-diff-regex='[[:alnum:]_]+'
