name: ship binaries

on:
  push:
    tags:
      - v[0-9]+.*

jobs:
  upload-assets:
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
          - target: aarch64-unknown-linux-musl
            os: ubuntu-latest
          - target: aarch64-apple-darwin
            os: macos-latest
          - target: x86_64-pc-windows-msvc
            os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: rari
          target: ${{ matrix.target }}
          build-tool: ${{ matrix.build-tool }}
          profile: release-lto
          token: ${{ secrets.GITHUB_TOKEN }}
