name: lint-test-clippy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# No GITHUB_TOKEN permissions, as we don't use it.
permissions: {}

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@9a1d20035bdbcbc899baabe1e402e85bc33639bc # 1.90
        with:
          components: rustfmt, clippy
      - name: sccache-cache
        uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad # v0.0.9

      - name: Run fmt
        run: cargo fmt -- --check
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose --workspace --all-targets --no-fail-fast
      - name: Run doc tests
        run: cargo test --verbose --workspace --doc --features doctest --no-fail-fast
      - name: Run clippy
        run: cargo clippy --all-features --workspace -- -Dwarnings
