name: Test

on:
  pull_request:
    paths:
      - '**/*.rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

permissions: {} # No GITHUB_TOKEN permissions, as we only use it to increase API limit.

env:
  CONTENT_ROOT: ${{ github.workspace }}/content/files
  TRANSLATED_CONTENT_ROOT: ${{ github.workspace }}/translated-content/files
  CARGO_TERM_COLOR: always

jobs:
  fix-flaws:
    runs-on: ubuntu-latest
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"

    steps:
      - name: Checkout mdn/rari
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          path: rari
          persist-credentials: false

      - name: Checkout mdn/content
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          repository: mdn/content
          path: content
          persist-credentials: false

      - name: Checkout mdn/translated-content
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          repository: mdn/translated-content
          path: translated-content
          persist-credentials: false

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@9a1d20035bdbcbc899baabe1e402e85bc33639bc # 1.90

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad # v0.0.9

      - name: Run fix-flaws
        working-directory: rari
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cargo run --release content fix-flaws
